<div id="content">
  <div id="relativeContainer">
    <h1 class="left">Meine Stationen</h1>
    <button icon="pi pi-plus" label="Neue Station erstellen" pButton type="button" class="ui-button-success right" (click)="openCreate()"></button>
  </div>

  <p-table [value]="stations">
      <ng-template pTemplate="header">
          <tr>
              <th>Name</th>
              <th>Typ</th>
              <th>Postleitzahl</th>
              <th>Straße</th>
              <th>Breitengrade</th>
              <th>Längengrade</th>
              <th></th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-station>
          <tr>
              <td>{{station.name}}</td>
              <td>{{station.type}}</td>
              <td>{{station.location}}</td>
              <td>{{station.street}}</td>
              <td>{{station.latitude}}</td>
              <td>{{station.longitude}}</td>
              <td>
                  <button icon="pi pi-plus" pButton type="button" class="ui-button-success halfsize" (click)="openMeasurement(station)"></button>
                  <button icon="pi pi-pencil" pButton type="button" (click)="openEdit(station)" class="halfsize"></button>
                  <button icon="pi pi-trash" pButton type="button" class="ui-button-danger halfsize" (click)="openDelete(station)"></button>
              </td>
          </tr>
      </ng-template>
  </p-table>
</div>

<p-toast></p-toast>

<p-dialog header="{{selectedStation.name}} bearbeiten" [(visible)]="displayEdit" modal="true" width="600" (onHide)="cancelEdit();">
  <form>
      <div class="ui-g">
          <div class="ui-g-2">Name</div>
          <div class="ui-g-10"><input type="text" pInputText [(ngModel)]="selectedStation.name" name="name" [pKeyFilter]="blockSpecial" class="fullsize"/></div>
      </div>
      <div class="ui-g">
          <div class="ui-g-2">Typ</div>
          <div class="ui-g-10"><input type="text" pInputText [(ngModel)]="selectedStation.type" name="type" class="fullsize"/></div>
      </div>
      <div class="ui-g">
          <div class="ui-g-2">Postleitzahl</div>
          <div class="ui-g-10"><input type="number" min="1000" max="9999" pInputText [(ngModel)]="selectedStation.location" name="location" class="fullsize"/></div>
      </div>
      <div class="ui-g">
          <div class="ui-g-2">Straße</div>
          <div class="ui-g-10"><input type="text" pInputText [(ngModel)]="selectedStation.street" name="street" class="fullsize"/></div>
      </div>
      <div class="ui-g">
          <div class="ui-g-2">Breitengrade</div>
          <div class="ui-g-10"><input type="text" pInputText [(ngModel)]="selectedStation.latitude" name="latitude" class="fullsize"/></div>
      </div>
      <div class="ui-g">
          <div class="ui-g-2">Längengrade</div>
          <div class="ui-g-10"><input type="text" pInputText [(ngModel)]="selectedStation.longitude" name="longitude" class="fullsize"/></div>
      </div>
      <div class="ui-g">
        <div class="ui-g-12"><p-messages [(value)]="updateMessages" [enableService]="false"></p-messages></div>
      </div>
      <div class="ui-g">
          <div class="ui-g-6"><button pButton type="button" label="Speichern" class="fullsize" (click)="updateStation();"></button></div>
          <div class="ui-g-6"><button pButton type="button" label="Abbrechen" class="fullsize ui-button-danger" (click)="cancelEdit();"></button></div>
      </div>
  </form>
</p-dialog>

<p-dialog header="Station löschen" [(visible)]="displayDelete" modal="true" (onHide)="cancelDelete();">
  Möchten sie {{selectedStation?.name}} wirklich löschen?
  <p-footer>
      <button pButton type="button" label="Löschen" class="fullsize" (click)="deleteStation();"></button>
      <button pButton type="button" label="Abbrechen" class="fullsize" (click)="cancelDelete();"></button>
  </p-footer>
</p-dialog>

<p-dialog header="Neue Station anlegen" [(visible)]="displayCreate" modal="true" width="600" (onHide)="cancelCreate();">
    <form>
        <div class="ui-g">
            <div class="ui-g-2">Name</div>
            <div class="ui-g-10"><input type="text" pInputText [(ngModel)]="selectedStation.name" name="name" class="fullsize"/></div>
        </div>
        <div class="ui-g">
            <div class="ui-g-2">Typ</div>
            <div class="ui-g-10"><input type="text" pInputText [(ngModel)]="selectedStation.type" name="type" class="fullsize"/></div>
        </div>
        <div class="ui-g">
            <div class="ui-g-2">Postleitzahl</div>
            <div class="ui-g-10"><input type="number" min="1000" max="9999" pInputText [(ngModel)]="selectedStation.location" name="location" class="fullsize"/></div>
        </div>
        <div class="ui-g">
            <div class="ui-g-2">Straße</div>
            <div class="ui-g-10"><input type="text" pInputText [(ngModel)]="selectedStation.street" name="street" class="fullsize"/></div>
        </div>
        <div class="ui-g">
            <div class="ui-g-2">Breitengrade</div>
            <div class="ui-g-10"><input type="text" pInputText [(ngModel)]="selectedStation.latitude" name="latitude" class="fullsize"/></div>
        </div>
        <div class="ui-g">
            <div class="ui-g-2">Längengrade</div>
            <div class="ui-g-10"><input type="text" pInputText [(ngModel)]="selectedStation.longitude" name="longitude" class="fullsize"/></div>
        </div>
        <div class="ui-g">
          <div class="ui-g-12"><p-messages [(value)]="createMessages" [enableService]="false"></p-messages></div>
        </div>
        <div class="ui-g">
            <div class="ui-g-6"><button pButton type="button" label="Speichern" class="fullsize" (click)="sendStation();"></button></div>
            <div class="ui-g-6"><button pButton type="button" label="Abbrechen" class="fullsize ui-button-danger" (click)="cancelCreate();"></button></div>
        </div>
    </form>
  </p-dialog>

<p-dialog header="Neuen Messwert eintragen" [(visible)]="displayMeasurement" modal="true" width="600" [contentStyle]="{'overflow':'visible'}" (onHide)="cancelMeasurement();">
    <form>
        <div class="ui-g">
            <div class="ui-g-2">Messungstyp</div>
            <div class="ui-g-10"><p-dropdown [options]="measurementTypes" [(ngModel)]="selectedMeasurementType" name="selectedMeasurementType" optionLabel="type" [style]="{'width':'100%'}"></p-dropdown></div>
        </div>
        <div class="ui-g">
            <div class="ui-g-2">Wert</div>
            <div class="ui-g-10"><input type="number" pInputText pKeyFilter="num" [(ngModel)]="value" name="value" class="fullsize"/></div>
        </div>
        <div class="ui-g">
                <div class="ui-g-6"><button pButton type="button" label="Messwert abschicken" class="fullsize" (click)="sendMeasurement();"></button></div>
                <div class="ui-g-6"><button pButton type="button" label="Abbrechen" class="fullsize ui-button-danger" (click)="cancelMeasurement();"></button></div>
            </div>
    </form>
</p-dialog>