.fullsize {
    width: 100%;
}

.halfsize {
    width: 33% !important;
}

#relativeContainer {
    position: relative;
    display:inline-block;
    width: 100%;
}

.right {
    position: absolute;
    bottom: 5px;
    right: 0;
}